.body
{
  display: flex;
    background-color: #7e246c;
    color: #fff;
    height: 100px;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 11!important;
    background-image: url("https://rently.pk/purple-bg.8549cebf891a98bf6552.png");
    background-size: 100% 100px;
    background-repeat: no-repeat;
}
.logo
{
  width: 180px;
  height: 70px;
  padding-bottom: 15px;
}
.navLink
{
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-weight: 600;
}
.navLink:hover
{
 color: #000;
}
.login
{
  font-weight: 600;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
}
.border-line
{
  border-right: 1px solid;
  color: #fff;
  
}
.signup
{
  font-weight: 600;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}
.icon:hover
{
  cursor: pointer;
  animation:animatedBg 5s linear infinite ;
  transform: translate(5%);
  color:rgb(255, 0, 51)
}