*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 63.5%;
}
table
{
    margin: 5rem auto;
    border-radius: 1rem;
    border: 1rem hidden #443C68;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px black;
    overflow: hidden;
    max-width: 80rem;
}
tr,td,th{
    border: 2px double #10054c;
    font-size: 1.4rem;
    padding: 1rem 4rem;
    color: #fff;
}
thead
{
    font-size: 1.8rem;
    background-color: #10054c;
    color: #fff;
}

tbody
{
    background: rgba(128, 26, 26, 0.84);
}