body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img
{
  height: 150px;
  width: 120px;
}
.card1
{
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.655);
}
.productsWrapper
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}
.btn1
{
  border: none;
  outline: none;
  background: #2dcb57;
  padding: 5px 10px;
  color: #000000;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn1:hover{
  background: #002238;
  color: #fff;
}
.heading
{
  padding: 25px 0;
}
.cartCount
{
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink
{
  text-decoration: none;
  color:#fff;
  margin-left: 20px;
  font-weight: 600;
  background: #240457;
  border-radius: 4px;
  padding: 10px 20px;
}
.cartCard
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}
.logo
{
  text-transform: uppercase;
  font-weight: 600;
}
h3{
  text-align: center;
}
h5{
  text-align: center;
}
.bg
{
  box-shadow: 10px 10px 20px#764abc;
  padding: 20px;
}
.productsWrapper
{
  box-shadow: 10px 5px 30px#039d86;
}
.cartCard
{
box-shadow: 3px 2px 6px#585500bc;
}